.tab-content {
  width: 100%;
  height: 500px;
}

#top {
  background: black;
  padding-left:20%;
  padding-right:20%;
}

#player-holder {
  float: none;
  margin: 0 auto;
}

#top li a {
  color: white;
  padding-right: 5%;
  padding-left: 5%;
}

#chapter-tabs a {
  color: green;
}

#intro-header {
  text-align: center;
}

#player-holder {
  width:820px;
}

#player {
  margin-left: 130px;
  margin-right:130px;
}

input[type="checkbox"]:checked+label {
    color: green;
}

